.chart{
    flex: 49%;
    max-width: 49%;
    -webkit-box-shadow: 9px -1px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px -1px 14px -4px rgba(0,0,0,0.75);
     box-shadow: 9px -1px 14px -4px rgba(0,0,0,0.75);
}
.chart__Heading>h3{
    text-align: center;
}